@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    cursor: url("/cursor.svg"), auto;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* WebKit scrollbar styles (for Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Initially hide the scrollbar */
  height: 1.5px; /* Initially hide the horizontal scrollbar */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0; /* Initially hide the scrollbar */
  height: 0; /* Initially hide the horizontal scrollbar */
}

/* Scrollbar track */
*::-webkit-scrollbar-track {
  background: none; /* Track background */
}

/* Scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: gray; /* Color of the scrollbar */
  border-radius: 2rem; /* Rounded corners */
}

/* Scrollbar thumb on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2; /* Darker color on hover */
}

.text-with-image {
  font-size: 4.5rem; /* Adjust to your needs */
  margin-top: -1rem;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    43deg,
    rgb(167, 88, 219) 0%,
    rgba(242, 138, 255, 1) 51%,
    rgba(161, 3, 195, 1) 100%
  );
  background-clip: text;
  color: transparent; /* Make the text itself transparent */
}

@keyframes imageMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-link {
  color: rgb(186, 130, 254);
  text-decoration: underline;
}

@keyframes heartAnimation {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0.2;
  }
}

@media (min-width: 2560px) {
  :root {
    font-size: 20px;
  }
}
/* 
.gradient {
  border: 2px solid;
  border-image-source: linear-gradient(
    147.91deg,
    #ffffff 9.57%,
    rgba(255, 255, 255, 0) 56.98%,
    rgba(255, 255, 255, 0.77) 97.79%
  );
} */
